<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ONGConnectionString" connectionString="Data Source=BAIJI;Initial Catalog=ONG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TiendaDirectaADO.Properties.Settings.connString" connectionString="Data Source=localhost;Initial Catalog=ONG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>