<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ONGConnectionString" 
         connectionString="datasource=localhost;port=3306;username=root;password=daw1001;database=ong;SslMode=none"/>
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>